@import "./variables";

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  label {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 5px 0 0;
    span {
      font-size: 14px;
      margin-bottom: 3px;
    }
  }
  input,
  button {
    appearance: none;
    width: 100%;
  }
  button {
    padding: 10px;
    margin: 10px 0 0;
    border: none;
    text-transform: uppercase;
  }
}
