@import "./variables";

.loginInner {
  box-sizing: border-box;
  flex: 1 1 50%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;

  h2 {
    margin: 0;
    font-size: 18px;
  }
  p {
    margin: 10px 0;
  }
  form {
    font-size: 16px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  input {
    background: $background-color2;
  }
  input,
  button {
    padding: 10px;
  }
  .error {
    height: 16px;
    margin: 5px 0;
  }
  @media ($breakpoint-mobile) {
    &.loginBox {
      width: 400px;
    }
  }
}
