@import "./variables";
@import "./form";

.addNewItem {
  border-top: 1px solid $background-color2;
  flex: 0 0 auto;
  overflow: auto;

  @extend form;
  form {
    label {
      margin: 10px 0 0;
      > span {
        display: none;
      }
      &:not(:first-of-type) {
        margin-left: 5px;
      }
    }
  }
}
