$dark-grey: #888;
$dark-grey2: #555;
$dark-grey3: #222;
$grey: #aaa;
$light-grey2: #ddd;
$light-grey: #eee;
$white: #fff;
$dark-red: #cc0000;
$dark-green: #00cc00;
$dark-blue: #0000cc;

@import './mixins';